<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Courier'">
      .Newzee
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
			        <span color="primary" showWhen="ios">Close</span>
			        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Hall of Fame
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of hallOfFameList" text-wrap style="padding:0px" (click)="clickEvent(hallOfFame[item],$event)">
          <ion-thumbnail item-left style="margin-top:0px;margin-bottom:0px">
            <ion-img [src]="hallOfFame[item].thumbnail"></ion-img>
          </ion-thumbnail>
          <b style="font-size:85%" [innerHTML]="hallOfFame[item].title"></b>
          <span style="color: gray;font-size:70%;position:absolute; bottom:0;right:0px;">{{hallOfFame[item].prettylabel}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Debugging
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Debug logging</ion-label>
          <ion-toggle [(ngModel)]="appSettings['debug']"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Toast logging</ion-label>
          <ion-toggle [(ngModel)]="appSettings['toastdebug']"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card>
      <ion-card-header>
        App settings
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Max age</ion-label>
            <ion-select [(ngModel)]="appSettings.maxAge">
              <ion-option value="1">1 day</ion-option>
              <ion-option value="2">2 days</ion-option>
              <ion-option value="3">3 days</ion-option>
              <ion-option value="7">1 week</ion-option>
              <ion-option value="30">1 month</ion-option>
              <ion-option value="5000">unlimited</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Sort order</ion-label>
            <ion-select [(ngModel)]="appSettings.sortdate">
              <ion-option value="true">by date</ion-option>
              <ion-option value="false">by feed name</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item (click)="toggleSort()" *ngIf="statisticsList.length>0">
            <h1>Statistics</h1> <small>(tap here)</small>
            <ion-note item-right>{{sortKeys[keyIndex]}}</ion-note>
          </ion-item>
          <ion-item *ngFor="let item of statisticsList">
            {{item.feedlabel}}
            <ion-note item-right>{{item[sortKeys[keyIndex]]}}</ion-note>
          </ion-item>
          <ion-item *ngIf="statisticsList.length==0">
            No statistics available
          </ion-item>
          <ion-item *ngIf="statisticsList.length>0">
            <button ion-item (click)="clearStatistics()">
            Clear statistics
          </button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Copyright notice of feeds
      </ion-card-header>
      <ion-card-content>
        <p>All feeds provided are copyright from their respective holders. Which includes NU.nl, BBC.co.uk, Wired, Emerce, CNET
          ,etc. Please consult their respective websites for terms and conditions. If you are copyright holder and believe
          your feed does not belong in this app, please submit an issue on github.com/Tommmertom/Newzee.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        About <span style="font-family: 'Courier'">.Newzee</span>
      </ion-card-header>
      <ion-card-content>
        <p>
          While all care is given to make this app as great as possible and to assure it will not hurt anyone in the progress of doing
          so or using it. Nevertheless, things may go wrong and the author does not accept any liability out of it. And by
          using the app you acknowledge this!
        </p>
        <hr>
        <hr>
        <p>
          If you feel like contributing, in terms of money or through code, please visit github.com/Tommertom/Newzee and post an issue.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card-header>
      Danger zone
    </ion-card-header>
    <ion-card-content>
      <button danger ion-button block (click)="clearAll()">Clear all data</button>
    </ion-card-content>
  </ion-card>
</ion-content>
