<ion-header>
  <ion-toolbar>
    <ion-title (click)="openAbout()">
      Hall of Fame
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        <span color="primary" >Close</span>
     </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>

    <ion-item *ngIf="hallOfFameList.length==0">No Item</ion-item>

    <ion-item-sliding #slider *ngFor="let item of hallOfFameList">

      <ion-item text-wrap style="padding:0px" (press)="pressEvent(item,$event)" (click)="clickEvent(item,$event)">
        <ion-thumbnail item-left style="margin-top:0px;margin-bottom:0px">
          <ion-img [src]="item.thumbnail"></ion-img>
        </ion-thumbnail>
        <b style="font-size:85%" [innerHTML]="item.title"></b>
        <span style="color: gray;font-size:70%;position:absolute; bottom:0;right:0px;">{{item.prettylabel}}</span>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="doSocialShare(item, slider)" icon-left>
          <ion-icon name="share-alt"></ion-icon>Share  
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
