<ion-header>
  <br>
  <ion-badge *ngIf="itemCount > 0" style="position:absolute; top:25px;right:10px;">
    {{itemCount}}
  </ion-badge>
  <div [style.width]="progressPercentage" style="z-index:999999;position:absolute; top:20px;left:0px; height:3px;background-color:darkred">
  </div>
</ion-header>
<ion-content #myElement no-bounce padding style="margin:0px;padding:0px">



  <ion-fab left bottom *ngIf="itemCount > 0">
    <button icon-only style="background-color:transparent" ion-fab (click)="stepScrollUp()"> 
         <ion-icon style="font-weight: 900;color:black" name="arrow-up"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom center *ngIf="itemCount == 0">
    <button icon-only style="background-color:transparent" ion-fab (click)="showFeedSelector()"> 
         <ion-icon style="font-weight: 900;color:black" name="logo-rss"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom center *ngIf="itemCount > 0">
    <button icon-only style="background-color:transparent" ion-fab (click)="seenAllItems()"> 
         <ion-icon style="font-weight: 900;color:black" name="trash"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right bottom *ngIf="itemCount > 0">
    <button icon-only style="background-color:transparent" color="black" ion-fab (click)="stepScrollDown()"> 
         <ion-icon style="font-weight: 900;color:black"  name="arrow-down"></ion-icon>
    </button>
  </ion-fab>

  <ion-list no-lines *ngIf="itemCount > 0">
    <ion-item-sliding #slider *ngFor="let item of loadedItems">
      <ion-item text-wrap style="padding:0px" (click)="clickEvent(item,$event)">
        <ion-thumbnail item-left style="margin-top:0px;margin-bottom:0px">
          <img [src]="item.thumbnail">
          <span *ngIf="item?.favorite" style="color:darkred;position:absolute; top:10px;left:10px;">
              <ion-icon name='heart'></ion-icon>
             </span>
        </ion-thumbnail>
        <b style="font-size:85%" [innerHTML]="item?.title"></b>
        <span style="color: gray;font-size:70%;position:absolute; bottom:0;right:0px;">{{item?.prettylabel}}</span>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="toggleFavorite(item, slider)" icon-left>
                  <ion-icon name="heart"></ion-icon>Item
                </button>
        <button ion-button color="light" (click)="pressEvent(item, slider)" icon-left>
                  <ion-icon name="open"></ion-icon>Item
                </button>
        <button ion-button color="secondary" (click)="doSocialShare(item, slider)" icon-left>
                  <ion-icon name="share-alt"></ion-icon>Share
                </button>
        <button ion-button color="danger" (click)="deleteItem(item, slider)" icon-left>
                  <ion-icon name="trash"></ion-icon>Item
                </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="deleteFeed(item, slider)" icon-left>
                  <ion-icon name="trash"></ion-icon>Feed
                </button>
        <button ion-button color="secondary" (click)="showFeedSelector(slider)" icon-left>
                  <ion-icon name="settings"></ion-icon>Feed
                </button>
        <button ion-button color="primary" (click)="showHallOfFame(slider)" icon-left>
                  <ion-icon name="heart"></ion-icon>Hall
                </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <span *ngIf="itemCount == 0">
    <br><br><br>
    <div text-center>
    <ion-icon *ngIf="!isLoading" style="font-size:1400%;color:black" name="refresh" (click)="doPushRefresh()"></ion-icon>
</div>
</span>



  <ion-card>
    <ion-card-header>Console</ion-card-header>
    <ion-card-content>
      <button ion-button (click)="clearConsole()">Clear</button>
      <button ion-button (click)="updateStatistics()">Show statistics</button>
      <br>
      <pre>{{statisticInfo}}</pre>
      <span [innerHTML]="debuginfo"></span>
    </ion-card-content>
  </ion-card>



</ion-content>
